 <header id="masthead" class="site-header">
 	<div class="header-top">
 		<div class="container">
 			<div class="row">
 				<div class="col-md-8 hidden-xs">
 					<div class="addresses">
 						<div class="block-time"><i class="fa fa-clock-o"></i>
 							<p>Book Time - <span>10am to 11pm</span></p>
 						</div>
 						<div class="phone"><i class="fa fa-phone"></i>
 							<p>Call Us - <span>xxxxxxxxxxxxx</span></p>
 						</div>
 						<div class="email"><i class="fa fa-envelope"></i>
 							<p>mail@zzz.com</p>
 						</div>
 					</div><!--/.addresses-->
 				</div><!--/.col-md-8-->
 				<div class="col-md-4">
 					<div class="social-links"><a href="#"><i class="fa fa-instagram"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div><!--/.social-links-->
 					<div class="search-area hidden-xs"><i class="fa fa-search"></i>
 						<div class="header-search">
 							<div class="search default">
 								<form action="#" method="get" class="searchform">
 									<div class="input-group">
 										<input type="search" name="s" placeholder="Search here..." class="form-controller"><span class="input-group-btn">
 											<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
 										</div>
 									</form>
 								</div>
 							</div>
 						</div>
 						<div class="mobile-search-area hidden-sm hidden-md hidden-lg">
 							<!--i.fa.fa-search-->
 							<div class="header-search">
 								<div class="search default">
 									<form action="#" method="get" class="searchform">
 										<div class="input-group">
 											<input type="search" name="s" placeholder="Search here..." class="form-controller"><span class="input-group-btn">
 												<button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button></span>
 											</div>
 										</form>
 									</div>
 								</div>
 							</div><!--/.search-area-->
 						</div><!--/.col-md-4-->
 					</div><!--/.row-->
 				</div><!--/.container-->
 			</div><!--/.header-top-->
 			<!--Header Bottom-->
 			<div class="header-bottom">
 				<div class="container">
 					<div class="row">
 						<div class="col-md-12">
 							<div class="menu-wrapper clearfix">
 								<div class="navbar-header pull-left">
 									<div class="logo-block"><a href="index.html" class="site-logo"><p alt="sitelogo" class="logo">Logo Here</p></a><!--/.site-logo--></div>
 								</div><!--/.navbar-header-->
 								<div class="collapse navbar-collapse pull-right">
 									<div class="navigation hidden-sm hidden-xs">
 										<ul class="nav navbar-nav mainmenu">
 											<li><a href="#">Home</a>
 												<ul class="sub-menu">
 													<li><a href="<%= page_url(id: 1)%>">Home One</a></li>
 													<li><a href="<%= page_url(id: 2)%>">Home Two</a></li>
 												</ul>
 											</li>
 											<li><a href="#">Rooms</a>
 												<ul class="sub-menu">
 													<li><a href="<%= room_list_url %>">Room List</a></li>
 													<li><a href="<%= room_grid_url %>">Room Grid        </a></li>
 													<li><a href="<%= room_single_page_url %>">Room Single Page</a></li>
 												</ul>
 											</li>
 											<li><a href="#">Pages</a>
 												<ul class="sub-menu">
 													<li><a href="<%= about_us_url %>">About Page</a></li>
 													<li><a href="<%= contact_us_url%>">Contact Page</a></li>
 													<li><a href="<%= review_page_url %>">Review Page</a></li>
 													<li><a href="<%= spa_url %>">Spa Page</a></li>
 													<li><a href="<%= wedding_page_url %>">Wedding Page            </a></li>
 													<li><a href="<%= coming_soon_url %>">Coming Soon Page            </a></li>
 													<li><a href="<%= error_url %>">404 Page</a></li>
 												</ul>
 											</li>
 											<li><a href="<%= dining_menu_url%>">Dining</a></li>
 											<li><a href="<%= gallery_url%>">Gallery</a></li>
 											<li><a href="#">Blog</a>
 												<ul class="sub-menu">
 													<li><a href="<%= blog_page_url %>">Blog                               </a></li>
 													<li><a href="<%= single_post_url %>">Blog Single</a></li>
 												</ul>
 											</li>
 											<li><a href="#">Events</a>
 												<ul class="sub-menu">
 													<li><a href="<%= event_list_url  %>">Event List                               </a></li>
 													<li><a href="<%= events_url %>">Event Time-line</a></li>
 												</ul>
 											</li>
 										</ul><!--/.mainmenu-->
 									</div><!--/.navigation-->
 									<!--Mobile Main Menu-->
 									<div class="mobile-menu-main hidden-md hidden-lg">
 										<div class="menucontent overlaybg"> </div>
 										<div class="menuexpandermain slideRight"><a id="navtoggole-main" class="animated-arrow slideLeft menuclose"><span></span></a><span id="menu-marker"></span></div><!--/.menuexpandermain-->
 										<div id="mobile-main-nav" class="main-navigation slideLeft">
 											<div class="menu-wrapper">
 												<div id="main-mobile-container" class="menu-content clearfix"></div>
 											</div>
 										</div><!--/#mobile-main-nav-->
 									</div><!--/.mobile-menu-main-->
 								</div><!--/.navbar-collapse-->
 							</div><!--/.menu-wrapper-->
 						</div><!--/.col-md-12-->
 					</div><!--/.row-->
 				</div><!--/.container-->
 			</div><!--/.header-bottom-->
 		</header>