 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">blog
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <!--================= Content Area ===================-->
    <div class="blog-page-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="blog-tab-menu">
              <!--Nav tabs-->
              <ul role="tablist" class="nav nav-tabs">
                <li class="active"><a href="#grid-recent" role="tab" data-toggle="tab">recent / new</a></li>
                <li><a href="#grid-popular" role="tab" data-toggle="tab">popular</a></li>
                <li><a href="#grid-trending" role="tab" data-toggle="tab">trending</a></li>
              </ul>
            </div><!--/.blog-tab-menu-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
            <div class="tab-content">
              <!--Tab panes-->
              <div role="tabpanel" id="grid-recent" class="tab-pane active">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">                           
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-xs hidden-sm"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-xs hidden-sm"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                </div><!--/.row--> 
                <div class="row">
                  <div class="col-md-12">
                    <!--Paginations-->
                    <nav class="paginations">
                      <div class="post-pagination paging-navigation">
                        <ul class="nav-links">
                          <li class="nav-previous">
                            <!--disabled add when no pagination--><a href="#"><i class="fa fa-angle-left"></i></a>
                          </li>
                          <li><a href="#">01</a></li>
                          <li class="active"><a href="#">02</a></li>
                          <li><a href="#">03</a></li>
                          <li><a href="#">04</a></li>
                          <li><a href="#">05</a></li>
                          <li><a href="#">102</a></li>
                          <li class="nav-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                      </div><!--/.post-pagination-->
                    </nav><!--/.pagination-->
                  </div><!--/.col-md-12-->
                </div><!--/.row-->
              </div><!--/.tab-pane-->
              <!--Tab panes-->
              <div role="tabpanel" id="grid-popular" class="tab-pane">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-xs hidden-sm"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-xs hidden-sm"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                </div><!--/.row-->
                <div class="row">
                  <div class="col-md-12">
                    <!--Paginations-->
                    <nav class="paginations">
                      <div class="post-pagination paging-navigation">
                        <ul class="nav-links">
                          <li class="nav-previous">
                            <!--disabled add when no pagination--><a href="#"><i class="fa fa-angle-left"></i></a>
                          </li>
                          <li><a href="#">01</a></li>
                          <li class="active"><a href="#">02</a></li>
                          <li><a href="#">03</a></li>
                          <li><a href="#">04</a></li>
                          <li><a href="#">05</a></li>
                          <li><a href="#">102</a></li>
                          <li class="nav-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                      </div><!--/.post-pagination-->
                    </nav><!--/.pagination-->
                  </div><!--/.col-md-12-->
                </div><!--/.row-->
              </div><!--/.tab-pane-->
              <!--Tab panes-->
              <div role="tabpanel" id="grid-trending" class="tab-pane">
                <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-xs hidden-sm"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">                                
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-xs hidden-sm"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">                           
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-3.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4-->
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-2.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->                                      
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="clearfix hidden-md hidden-lg"></div>
                  <div class="col-md-4 col-sm-6 col-xs-6">
                    <!-- Single post-->
                    <div class="post hentry box-radius text-center">                                
                      <div class="entry-header">
                        <figure class="post-thumb"><a href="<%= single_post_url %>"><img src="/assets/post/thumb-1.jpg" alt="thumb"></a></figure><!--/.post-thumb-->
                        <div class="entry-meta"><span class="entry-date">july 25, 2016  </span><span class="entry-cat"><a href="#">Rooms &amp; suites</a></span></div><!--/.entry-meta-->
                      </div><!--/.entry-header-->
                      <h2 class="entry-title"><a href="<%= single_post_url %>">Finding best places to visit in California.</a></h2><!--/.entry-title-->
                      <div class="entry-footer">
                        <div class="entry-footer-meta entry-meta"><span class="entry-see"><i class="fa fa-eye"></i><a href="#">35</a></span><span class="entry-link"><i class="fa fa-heart-o"></i><a href="#">09</a></span><span class="entry-comment"><i class="fa fa-comments-o"></i><a href="#">05</a></span></div><!--/.entry-footer-meta-->
                      </div><!--/.entry-footer-->
                    </div><!--/.post-->
                  </div><!--/.col-md-4--> 
                  <div class="row">
                    <div class="col-md-12">
                      <!--Paginations-->
                      <nav class="paginations">
                        <div class="post-pagination paging-navigation">
                          <ul class="nav-links">
                            <li class="nav-previous">
                              <!--disabled add when no pagination--><a href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li><a href="#">01</a></li>
                            <li class="active"><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#">04</a></li>
                            <li><a href="#">05</a></li>
                            <li><a href="#">102</a></li>
                            <li class="nav-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul>
                        </div><!--/.post-pagination-->
                      </nav><!--/.pagination-->
                    </div><!--/.col-md-12-->
                  </div><!--/.row-->
                </div><!--/.row--> 
              </div><!--/.tab-pane-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================= Site Footer ===================-->