 <!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">events list
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>event
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="events-page-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-full-width">
            <div class="monthly-events-scdeule">
              <h2 class="event-month-name text-center"><span>January 2017</span></h2><!--/.event-month-name-->
              <div class="events-list">
                <div class="single-event">
                  <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="time-from">
                        <h3 class="date"><span>25</span> January </h3>
                        <h4 class="day">Wednesday</h4>
                      </div><!--/.time-from-->
                    </div><!--/.col-md-5-->
                    <div class="col-md-7 col-sm-7 col-xs-7">
                      <div class="event-info">
                        <h2 class="event-title">softHopper Company’s session</h2><a href="<%= event_list_url %>" class="btn btn-details">view detail</a>
                      </div><!--/.event-info-->
                    </div><!--/.col-md-7-->
                  </div><!--/.row-->
                </div><!--/.single-event-->
                <div class="single-event">
                  <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="time-from">
                        <h3 class="date"><span>31</span> January </h3>
                        <h4 class="day">Tuesday</h4>
                      </div><!--/.time-from-->
                    </div><!--/.col-md-5-->
                    <div class="col-md-7 col-sm-7 col-xs-7">
                      <div class="event-info">
                        <h2 class="event-title">Pixelll Manager;s Session</h2><a href="<%= event_list_url %>" class="btn btn-details">view detail</a>
                      </div><!--/.event-info-->
                    </div><!--/.col-md-7-->
                  </div><!--/.row-->
                </div><!--/.single-event-->
              </div><!--/.events-list-->
            </div><!--/.monthly-events-scdeule-->
          </div><!--/.col-md-6-->
          <div class="col-md-6 col-full-width">
            <div class="monthly-events-scdeule">
              <h2 class="event-month-name text-center"><span>February 2017</span></h2><!--/.event-month-name-->
              <div class="events-list">
                <div class="single-event">
                  <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="time-from">
                        <h3 class="date"><span>01</span> February </h3>
                        <h4 class="day">Wednesday</h4>
                      </div><!--/.time-from-->
                    </div><!--/.col-md-5-->
                    <div class="col-md-7 col-sm-7 col-xs-7">
                      <div class="event-info">
                        <h2 class="event-title">softHopper Company’s session</h2><a href="<%= event_list_url %>" class="btn btn-details">view detail</a>
                      </div><!--/.event-info-->
                    </div><!--/.col-md-7-->
                  </div><!--/.row-->
                </div><!--/.single-event-->
                <div class="single-event">
                  <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="time-from">
                        <h3 class="date"><span>14</span> February</h3>
                        <h4 class="day">Tuesday</h4>
                      </div><!--/.time-from-->
                    </div><!--/.col-md-5-->
                    <div class="col-md-7 col-sm-7 col-xs-7">
                      <div class="event-info">
                        <h2 class="event-title">Pixelll Manager;s Session</h2><a href="<%= event_list_url %>" class="btn btn-details">view detail</a>
                      </div><!--/.event-info-->
                    </div><!--/.col-md-7-->
                  </div><!--/.row-->
                </div><!--/.single-event-->
                <div class="single-event">
                  <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                      <div class="time-from">
                        <h3 class="date"><span>28</span> February</h3>
                        <h4 class="day">friday</h4>
                      </div><!--/.time-from-->
                    </div><!--/.col-md-5-->
                    <div class="col-md-7 col-sm-7 col-xs-7">
                      <div class="event-info">
                        <h2 class="event-title">Jahid’s Company Event</h2><a href="<%= event_list_url %>" class="btn btn-details">view detail</a>
                      </div><!--/.event-info-->
                    </div><!--/.col-md-7-->
                  </div><!--/.row-->
                </div><!--/.single-event-->
              </div><!--/.events-list-->
            </div><!--/.monthly-events-scdeule-->
          </div><!--/.col-md-6-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.events-page-area-->
    <!--================= Site Footer ===================-->