<!--================= Page Wellcome Area ===================-->
    <div class="page-heading-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="page-heading">find your room
            </h2><!--/.page-heading-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container--> 
    </div><!--/.page-heading-area-->
    <div class="page-nav-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="breadcrumb page-nav list-unstyled">
              <li><a href="<%= root_url %>">Home</a></li>
              <li>Room
              </li>
            </ul><!--/.page-nav-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-title-area-->
    <!--================= Content Area ===================-->
    <div class="room-grid-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-1.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-2.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5><a href="<%= room_single_page_url %>" class="room-title"></a>
                <h3 class="room-title"><a href="#">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-3.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-xs"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-4.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-5.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-6.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="clearfix hidden-xs"></div>
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-5.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-2.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
          <div class="col-md-4 col-sm-6 col-xs-6">
            <div class="single-room grid"><img src="/assets/rooms/img-4.jpg" alt="room" class="room-thumb">
              <div class="room-info box-radius">
                <h5>Starting from $50 / Night </h5>
                <h3 class="room-title"><a href="<%= room_single_page_url %>">Room With ExtraFields</a></h3>
                <h4 class="room-structure">02 King Bed / Max 4 Peoples  </h4>
                <div class="room-services">                           <i class="fa fa-eye"></i><i class="fa fa-television"></i><i class="fa fa-microphone-slash"></i><i class="fa fa-coffee"></i><i class="fa fa-cutlery"></i><i class="fa fa-wifi"></i></div><a href="<%= room_single_page_url %>" class="btn btn-details">more details</a>
              </div>
            </div><!--/.single-room-->
          </div><!--/.col-md-4-->
        </div><!--/.row-->
        <div class="row">
          <div class="col-md-12">
            <!--Paginations-->
            <nav class="paginations">
              <div class="post-pagination paging-navigation">
                <ul class="nav-links">
                  <li class="nav-previous">
                    <!--disabled add when no pagination--><a href="#"><i class="fa fa-angle-left"></i></a>
                  </li>
                  <li><a href="#">01</a></li>
                  <li class="active"><a href="#">02</a></li>
                  <li><a href="#">03</a></li>
                  <li><a href="#">04</a></li>
                  <li><a href="#">...</a></li>
                  <li><a href="#">102</a></li>
                  <li class="nav-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div><!--/.post-pagination-->
            </nav><!--/.pagination-->
          </div><!--/.col-md-12-->
        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.room-grid-area-->
    <!--================= Site Footer ===================-->